In [44]:
import pandas as pd 
import numpy as np

In [5]:
df_trip = pd.read_csv('trip.csv',error_bad_lines=False)
df_trip

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

## 1. What is the average trip duration for a borrowed bicycle?

In [7]:
avg_trip =df_trip['tripduration'].mean()
avg_trip

1178.2956753399776

## 2. What’s the most common age of a bicycle-sharer?

In [64]:
most_common_age= df_trip['birthyear'].value_counts().idxmax()
age =2021-most_common_age 

age

34.0

### 3.Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [16]:
df_weather = pd.read_csv('weather.csv')
df_weather

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

In [37]:
avg_precipitation_per_month = df_weather['Precipitation_In'].mean()*30

median_precipitation_per_month = df_weather['Precipitation_In'].median()*30

print (f"({median_precipitation_per_month} ,{avg_precipitation_per_month})")

(0.0 ,3.1519593613933234)

### 4.What’s the average number of bikes at a given bike station?

In [68]:
df_station= pd.read_csv('station.csv')
df_station
avg = df_station['install_dockcount'].mean()
avg =np.round_(avg)
avg

18.0

### 5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [79]:
df_station= pd.read_csv('station.csv')
df_station
x=df_station[["modification_date","install_dockcount"]].dropna()
y=x["install_dockcount"].sum()- df_station["install_dockcount"].sum()
y

-722

### 6. ascending install_date and give me first 20 cells with name

In [63]:

solution6 = df_station[["name", "install_date"]].sort_values('install_date', ascending=False).head(20)
solution6

                                                 name install_date
41                              Mercer St & 9th Ave N    9/15/2015
57                    Pier 66 / Alaskan Way & Bell St     8/9/2016
55                              Thomas St & 5th Ave N     7/3/2016
5                                  Union St & 4th Ave    7/27/2015
40                             Terry Ave & Stewart St    6/12/2015
10                            12th Ave & E Yesler Way    5/22/2015
54                           Broadway and E Denny Way    3/18/2016
56                    NE Pacific St/UW Medical Center   10/29/2015
32                            Dexter Ave N & Aloha St   10/13/2014
33                     Republican St & Westlake Ave N   10/13/2014
42  Burke-Gilman Trail / NE Blakeley St & 24th Ave NE   10/13/2014
35                             Westlake Ave & 6th Ave   10/13/2014
36                                  Pine St & 9th Ave   10/13/2014
37          Lake Union Park / Valley St & Boren Ave N   10/13/2014
38                             Dexter Ave & Denny Way   10/13/2014
39                Key Arena / 1st Ave N & Harrison St   10/13/2014
34                      PATH / 9th Ave & Westlake Ave   10/13/2014
45                           NE 47th St & 12th Ave NE   10/13/2014
43                     NE 42nd St & University Way NE   10/13/2014
44                          12th Ave & NE Campus Pkwy   10/13/2014

### 7. Give me the average of tripduration

In [77]:
avg_year = df_trip["birthyear"].mean()
avg_year=np.round_(avg_year)
avg_year

1980.0

### 8 . sort the value depends on trip duration and show the gender , start point

In [ ]:
sort = df_trip.sort_values(by=['tripduration' , 'from_station_name'] ,ascending=False)[['tripduration' , 'from_station_name' , 'gender']]
sort

In [78]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip, 1178.2956753399776)
    assert_equal(age, 34)
    assert_equal(avg, 18.0)
    assert_equal(median_precipitation_per_month, 0.0)
    assert_equal(avg_precipitation_per_month,3.1519593613933234)
    assert_equal(avg_year ,1980.0)


    print("Success!!!")

test()

Success!!!